.idea/.xml
/my_venv/
# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

.idea/
/data/sqlResult_1558435.csv
/log/
/logs/

/my_venv/
/chinese_L-12_H-768_A-12.zip
/chinese_L-12_H-768_A-12/
/mongodb-win32-x86_64-2012plus-4.2.3-signed.msi
/frontend/node_modules/
/SeeYou-Linux 环境下 Docker 容器化部署.md
